.viewer3dContainer {
  position:relative;
  background:#fff;
  overflow:hidden;
  text-align:center;
}

.imagesList {
  cursor:e-resize;
  transition: tranform 0.3s ease-in-out 0s; 
  transition-property: transform;
  width:100%;
  height:100%;
  > li {
    opacity:0;
    position:absolute;
    top:0;
    z-index:-1;
    list-style-type:none;
    left:50%;
    transform: translate(-50%);
    &.active {
      opacity:1;
      z-index:1;
    }
  }
}
